<template>
  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-gray-900 text-center">สมัครสมาชิก</h2>
      <form @submit.prevent="submitForm">
        <div class="mb-4">
          <label class="block text-gray-700" for="fullNameTh">ชื่อ - นามสกุล (ภาษาไทย)</label>
          <input type="text" v-model="fullNameTh" id="fullNameTh"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400" required
            pattern="^[ก-๏\s]+$" title="กรุณาใช้ตัวอักษรภาษาไทยเท่านั้น">
          <span v-show="fullNameTh.length > 0 && !isValidThai(fullNameTh)"
            class="text-red-500 text-sm">กรุณาใช้ตัวอักษรภาษาไทยเท่านั้น</span>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700" for="fullNameEng">ชื่อ - นามสกุล (ภาษาอังกฤษ)</label>
          <input type="text" v-model="fullNameEng" id="fullNameEng"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400" required
            pattern="^[a-zA-Z\s]+$" title="กรุณาใช้ตัวอักษรภาษาอังกฤษเท่านั้น">
          <span v-show="fullNameEng.length > 0 && !isValidEnglish(fullNameEng)"
            class="text-red-500 text-sm">กรุณาใช้ตัวอักษรภาษาอังกฤษเท่านั้น</span>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700" for="telephone">เบอร์โทรศัพท์</label>
          <input type="tel" v-model="telephone" id="telephone"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400"
            pattern="^\d{10}$" title="เบอร์โทรศัพท์ต้องมี 10 หลัก" maxlength="10" @input="filterNumbers">
          <span v-show="telephone.length > 0 && !isValidTelephone(telephone)"
            class="text-red-500 text-sm">เบอร์โทรศัพท์ต้องมี 10 หลัก</span>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700" for="email">Email</label>
          <input type="email" v-model="email" id="email"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700" for="password">รหัสผ่าน</label>
          <input type="password" v-model="password" id="password"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700" for="confirmPassword">ยืนยันรหัสผ่าน</label>
          <input type="password" v-model="confirmPassword" id="confirmPassword"
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400" required>
          <span v-show="password !== confirmPassword && confirmPassword.length > 0"
            class="text-red-500 text-sm">รหัสผ่านไม่ตรงกัน</span>
        </div>
        <button type="submit" :disabled="loading"
          class="w-full bg-indigo-500 text-white py-2 rounded-md hover:bg-indigo-600">
          <span v-if="loading">Loading...</span>
          <span v-else>สมัครสมาชิก</span>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      fullNameTh: '',
      fullNameEng: '',
      telephone: '',
      email: '',
      password: '',
      confirmPassword: '',
      loading: false,
    }
  },
  methods: {
    isValidThai(text) {
      const thaiPattern = /^[ก-๏\s]+$/;
      return thaiPattern.test(text);
    },
    isValidEnglish(text) {
      const englishPattern = /^[a-zA-Z\s]+$/;
      return englishPattern.test(text);
    },
    isValidTelephone(telephone) {
      const telephonePattern = /^\d{10}$/;
      return telephonePattern.test(telephone);
    },
    filterNumbers(event) {
      const value = event.target.value;
      event.target.value = value.replace(/[^0-9]/g, '');
      this.telephone = event.target.value;
    },
    async submitForm() {
      if (!this.isValidThai(this.fullNameTh)) {
        alert('กรุณาใช้ตัวอักษรภาษาไทยเท่านั้นสำหรับชื่อ - นามสกุล (ภาษาไทย)');
        return;
      }

      if (!this.isValidEnglish(this.fullNameEng)) {
        alert('กรุณาใช้ตัวอักษรภาษาอังกฤษเท่านั้นสำหรับชื่อ - นามสกุล (ภาษาอังกฤษ)');
        return;
      }

      if (this.telephone.length > 0 && !this.isValidTelephone(this.telephone)) {
        alert('เบอร์โทรศัพท์ต้องมี 10 หลัก');
        return;
      }

      if (this.password.length < 8) {
        alert('รหัสผ่านต้องอย่างน้อย 8 หลัก');
        return;
      }

      if (this.confirmPassword.length < 8) {
        alert('ยืนยันรหัสผ่านต้องอย่างน้อย 8 หลัก');
        return;
      }

      if (this.password !== this.confirmPassword) {
        alert('รหัสผ่านไม่ตรงกัน');
        return;
      }

      let payload = {
        fullNameTh: this.fullNameTh,
        fullNameEng: this.fullNameEng,
        telephone: this.telephone,
        email: this.email,
        password: this.password
      }

      this.loading = true;

      try {
        const response = await axios.post(`http://127.0.0.1:8000/user/register`, payload);
        alert('สมัครสมาชิกสำเร็จ กรุณายืนยันตนผ่านอีเมล');
        this.createState()
        this.loading = false;
      } catch (error) {
        this.loading = false;
        alert(`${error?.response?.data?.message}`);
      }

    },
    createState() {
      this.fullNameTh = ''
      this.fullNameEng = ''
      this.telephone = ''
      this.email = ''
      this.password = ''
      this.confirmPassword = ''
    }
  }
}
</script>

<style scoped>
/*  */
</style>
